# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Xcode user-specific files
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3